
<div class="row blockBar">
  <div class="col-md-4">
    <div class="block">
      <div class="blockImage">
        <a href="http://facebook.com" target="_blank"><img src="./public/images/fb.png" alt="Facebook Logo"></a>
      </div>
      <div class="blockLink">
        <p>Facebook</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="block middle">
      <div class="blockImage">
        <a href="http://gmail.com" target="_blank"><img src="./public/images/gmail.png" alt="Gmail Logo"></a>
      </div>
      <div class="blockLink">
        <p>Gmail</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="block">
      <div class="blockImage">
        <a href="http://google.com" target="_blank"><img src="./public/images/google.png" alt="Google Logo"></a>
      </div>
      <div class="blockLink">
        <p>Google</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="weatherBar">
      <h1>Weather Search <small ng-show="city"> - {{city}}, {{state}}</small></h1>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">

          <form ng-submit="weatherSearch()" class="input-group">
            <span class="input-group-addon" id="basic-addon3">City, State</span>
            <input type="text" ng-model="cityState" class="form-control" id="basic-url" aria-describedby="basic-addon3" autofocus>
          </form>

        </div>
      </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Currently {{temp}}°f</h3>
      </div>
    </div>
    </div>
  </div>
</div>
